.form-control{
 border-bottom: 2px blueviolet solid;
 border-left: 1px blue solid;
}
.form-control:focus{
    background-color: rgb(229, 236, 234);
}
label{
font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
font-weight: bold;
}
