<div class="container text-center ">
    <h1>Products details !</h1>
    <div class="border">
        <img src={{product.imageUrl}} alt="AA">
        <div class="row">

            <div class="col">
                Producto: {{product.name}}  
                {{product.category.nameC}}

                <div>
                    {{product.price | currency}}
                </div>
             </div>
            <div class="">
                Total: {{product.stock}}
                <br>
                Fecha: {{ product.createdAt | date: 'M/d/yy' }}

            </div>
        </div>
        <button (click)="update()" class="btn btn-primary">Modificar</button>

    </div>

</div>

@if(viewUpdate){
<div class="container">
    <app-products-details-update 
    (CloseUpdatePage)="viewUpdate = $event" 
     [producto]="product" 
     (ProductoUpdate)="product = $event"
    ></app-products-details-update>
</div>    
}
